// 引入清除默认样式
@import './reset.scss';
@import './variable.scss';
@import url(//at.alicdn.com/t/c/font_4226412_ayxqoicyump.css);


// 滚动条外观设置
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $base-header-background;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #c1c1c1;
  border-radius: 10px;
}

// elementui下拉框黑框去除
.el-tooltip__trigger:focus-visible {
  outline: unset;
} 
