// 一些基本样式
$base-border-color: #e7e7e7;
$base-background-color: rgb(217, 218, 216);
// 基本颜色
$base-blue-color: rgb(50, 160, 250);

// 字体
$base-title-font-color:  #3a3a3a;
$base-small-font-color:  #4d4d4d;

// layout相关设置
$base-header-background: #ffffff;
$base-header-height: 50px;