// 一些基本样式
$base-border-color: var(--el-border-color);
$base-background-color: #ffffff;
$base-header-background: #ffffff;

// 基本颜色
$base-blue-color: rgb(90, 180, 253);

// 字体
$base-title-font-color:  #3a3a3a;
$base-small-font-color:  #4d4d4d;

// layout相关设置
$base-header-height: 50px;



// 状态颜色
$sucess-color: rgb(5, 181, 93);
$warn-color: rgb(255, 184, 0);
$info-color: rgb(242, 243, 244);